name: build and deploy
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      script-file: ${{steps.publish.outputs.script-file}}
    steps:
      - name: get code
        uses: actions/checkout@v3
      - name: install deps
        run: npm ci
      - name: build website
        run: npm run build
      - name: publish js filename
        id: publish
        run: find dist/assets/*.js -type f -execdir echo 'script-file={}' >> $GITHUB_OUTPUT ';'
      - name: upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dist-files
          path: dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: get build artifacts
        uses: actions/download-artifact@v3
        with:
          name: dist-files
      - name: output contents
        run: ls
      - name: deploy
        run: echo "deploying..."
